<div class="card">
  <div class="card-block">
    <h1 class="card-title">A propos du Figaro</h1>
    <p class="card-text">Le Figaro est un quotidien français fondé en 1826 sous le règne de Charles X. Il est à ce titre le plus ancien quotidien de la presse française encore publié. Il a été nommé d'après Figaro, le personnage de Beaumarchais, dont il met en exergue la réplique :

« Sans la liberté de blâmer, il n'est point d'éloge flatteur. »

Sa ligne éditoriale est de droite gaulliste, libérale3 et conservatrice, selon le spectre politique français habituellement utilisé, et réunit une majorité de lecteurs de droite.

Le Figaro est depuis 2004 la propriété de l'industriel et sénateur Serge Dassault via la Société du Figaro et Dassault media. Il bénéficie de subventions de la part de l'État français.</p>
	
	<h2>Notre devise</h2>
	<p>« Sans la liberté de blâmer, il n'est point d'éloge flatteur. »</p>

<p>Beaumarchais, Le Mariage de Figaro
Figaro est un des personnages de Beaumarchais, héros du Barbier de Séville, du Mariage de Figaro et de la Mère coupable.

Le Figaro comporte d'autres références au personnage dont il tire son nom, comme « Figaro-ci, Figaro-là », Le Barbier de Séville.

À une époque, cette devise fut remplacée par : « Loué par ceux-ci, blâmé par ceux-là, me moquant des sots, bravant les méchants, je me presse de rire de tout… de peur d'être obligé d'en pleurer... », puis la devise initiale fut restaurée, un temps discrètement, puis de nouveau en première page depuis la dernière maquette.</p>

	<h2>Notre ligne éditoriale</h2>
	<p>Le Figaro, d'après son directeur, se considère comme un journal de droite et de centre droit. Le journal est le point de jonction de plusieurs grands courants d'idées ancrés à droite ou au centre droit. Il s'agit principalement du libéralisme classique ou l'éclectisme libéral jumelé avec un conservatisme social. Il est aussi souvent classé comme gardien de l’éclectisme culturel de la droite française par ses oppositions à la Commune de Paris, au communisme, ou par ses sympathies gaullistes, ou encore par son attachement au système républicain. L'un des slogans de sa campagne publicitaire de 2005 était « en matière d'économie nous sommes pour le libre-échange. En matière d'idées aussi. »

En février 2012, un texte de la Société des journalistes du Figaro dénonce la ligne éditoriale de son journal, qu'elle considère comme étant un soutien important aux différents gouvernements de droite qui se sont succédé dans les années 2000. La rédaction du Figaro est très attachée au principe de protection des sources d'information des journalistes.

En mars 2013, son directeur général, Alexis Brézet, définit ainsi l’esprit du quotidien qu’il dirige : « libéral mais pas dogmatique, conservateur mais pas passéiste, européen mais pas eurobéat, attaché à défendre la culture française mais ouvert sur le monde » tout en se revendiquant d’une « indépendance d’esprit »</p>
  </div>
</div>