<%= simple_form_for([:admin, @category]) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "#{f.object.new_record? ? t('.admin_simple_form_create_category_submit') : t('.admin_simple_form_update_category_submit')}" %>
  </div>
<% end %>
